.Hero-Section {
    max-width: 100%;
    background-image: url("https://images.pexels.com/photos/7218029/pexels-photo-7218029.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 64px;
    background-position: center;
    padding: 64px;
}

@media (max-width: 768px) {
    .Hero-Section {
        padding: 64px;
        margin-top: 0;
    }
}

@media (max-width: 578px) {
    .Hero-Section {
        padding: 32px;
        margin-top: 0;
    }
}

.Hero-Text {
    text-align: right;
    margin-bottom: 2rem;
}

.Hero-Main-Box {
    max-width: 1024px;
    margin: 32px auto;
}

.Hero-Main-Box h1 {
    font-size: 5rem;
    line-height: 1;
    -webkit-text-stroke: 1px white;
}

.Hero-Main-Box h1 {
    font-size: 2.5rem;
    line-height: 1;
    -webkit-text-stroke: 1px white;

}

.Hero-Main-Box p {
    padding-bottom: 32px;
}