.footer {
  color: white;
  background-color: #030322;
  padding-top: 1rem;
  position: relative;
}
.footer-container {
  display: grid;
  text-align: center;
  gap: 1rem;
  font-size: 0.6rem;
}
.footer-row {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 8rem;
  justify-content: center;
}
.footer-row li {
  list-style: none;
}
.footer-link {
  background-color: #030322;
  color: white;
  text-decoration: none;
  justify-content: flex-start;
}
.footer-btn {
  background-color: rgb(39, 64, 97);
  color: white;
  padding: 0.4rem 0.8rem;
  border-radius: 1rem;
}
.footer-input {
  text-align: center;
  width: 9rem;
  height: 1.5rem;
  border-radius: 1rem;
}
.footer-icons {
  display: flex;
  gap: 1.5rem;
}
.language-btn {
  background-color: rgb(39, 64, 97);
  color: white;
  padding: 0.005rem 3rem;
}
.footer-link:hover {
  background-color: #777;
}
.language-btn:hover {
  background-color: #777;
}
.footer-btn:hover {
  background-color: #777;
}

@media screen and (max-width: 45em) {
  .footer {
    flex-wrap: wrap-reverse;
  }
}
@media screen and (max-width: 35em) {
  .footer {
    flex-wrap: wrap;
  }
}
