.footer {
  color: white;
  background-color: #030322;
  padding-top: 1rem;
  position: relative;
}
.footer-container {
  display: grid;
  gap: 1rem;
  font-size: 0.6rem;
  justify-content: center;
}
.footer-row {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 8rem;
  justify-content: center;
}
.footer-link {
  background-color: #030322;
  color: white;
  text-decoration: none;
  justify-content: flex-start;
}
.footer-btn {
  background-color: rgb(39, 64, 97);
  color: white;
  padding: 16px;
  border-radius: 8px;
}
.footer-input {
  text-align: center;
  width: 200px;
  padding: 16px;
  border-radius: 8px;
}
input::placeholder {
  opacity: 0.5;
  color: #030322;
  text-align: start;
}

.footer-icons {
  display: flex;
  gap: 1.5rem;
}
.language-btn {
  background-color: rgb(39, 64, 97);
  color: white;
  padding: 16px;
}
.footer-link:hover {
  background-color: #777;
}
.language-btn:hover {
  background-color: #777;
}
.footer-btn:hover {
  background-color: #777;
}
.footer-link {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.8rem;
  justify-content: flex-start;
}
.footer-logo {
  text-align: center;
}
.footer-end {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .d-sm-col {
    flex-direction: column;
    gap: 16px;
    padding: 0 32px;
  }
}