.filters {
  display: flex;
  justify-content: flex-start;
  text-align: -webkit-center;
  flex-direction: column;
  width: 30%;
  margin: 60px 0px 0px 20px;
  padding: 50px 10px 10px 10px;
  background-color: #f0f0f2;
  position: sticky;
  top: 15%;
  height: 260px;
}

.home-wrapper {
  max-width: 1280px;
  margin: 32px auto;
}

@media (max-width: 1280px) {
  .home-wrapper {
    margin: 32px;
  }
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
  row-gap: 50px;
  justify-content: center;
  margin-top: 25px;
}

.card {
  width: calc(25% - 30px);
  box-shadow: 3px 9px 19px 1px rgba(0,0,0,0.56);
}

@media (max-width: 1024px) {
  .card {
    width: calc(50% - 30px);
  }
}

@media (max-width: 578px) {
  .card {
    width: 100%;
  }
}

.home-headings {
  margin-top: 60px;
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}