.LoginPageParentContainer {
    display: flex;
    max-width: 100%;
    flex-wrap: nowrap;
    padding: 4rem;
    background-color: #5679a957;
}

.LoginPageLeft {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 40rem;
    align-items: center;
    color: black;
    padding: 0 auto;
    justify-content: center;
    background-color: white;
    border-radius: 1rem 0rem 0rem 1rem;
}

.LoginPageRight {
    border: 1px solid blue;
    background-image: url("../../Img/helping-hand-login.jpg");
    background-size: contain;
    overflow: hidden;
    width: 40%;
    height: 40rem;

}

#username {
    background-color: #c4c4c486;
    border: none;
    border-radius: 4px;
}

#usernameField {
    background-color: #c4c4c460;
    background-size: cover;
    padding: 0.5rem;
    width: auto;
    border-radius: 5px;
    margin-top: 1rem;
    flex-direction: column;
    flex-wrap: nowrap;
    display: flex;
    gap: 0.6rem;
    margin-bottom: 1.5rem;
}

#password {
    background-color: #c4c4c486;
    border: none;
    border-radius: 4px;
}

input:focus {
    border: 2px solid white;
    color: white;
}

#passwordField {
    background-color: #c4c4c460;
    background-size: cover;
    padding: 0.5rem;
    width: auto;
    border-radius: 5px;
    margin-top: 1rem;
    flex-direction: column;
    flex-wrap: nowrap;
    display: flex;
    gap: 0.6rem;
    margin-bottom: 1.5rem;
}

.rememberBox {
    display: flex;
    justify-content: space-between;
}

.signupField {
    display: inherit;
    gap: 1rem;
    padding: 1rem;
    border-top: 1px solid #d6d6d6;
}

#Button {
    display: flex;
    margin: 1rem auto;
    justify-content: center;
}
