.dropdown {
  width: 20rem;
}
.dropdown-dtn {
  padding: 0.7rem 2rem;
  background-color: white;
  box-shadow: 0.5px 0.5px 5px 2px rgba(0, 0, 0, 06);
  font-weight: bold;
  color: #333;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.dropdown-content {
  position: absolute;
  z-index: 2;
  top: 110%;
  padding: 1rem;
  background-color: white;
  box-shadow: 0.5px 0.5px 2px 1px rgba(0, 0, 0, 06);
  font-weight: 500;
  color: #333;
  width: 100%;
}
.dropdown-items {
  padding: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropdown-items:hover {
  background-color: #0c0c46;
  color: white;
}
