.offers-container {
    display: flex;
}

.text-pricefilter {
    margin-top: 30px;
}

.price-range {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
}