.nav {
  background-color: #01010f;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}

@media (max-width: 578px) {
  .nav {
    position: sticky;
  }
}

.logo {
  width: 128px;
}

.nav-left {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  text-decoration: none;
  align-items: center;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
  padding: 16px;
}

.nav-text {
  color: white;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px;
}

.nav-text:hover {
  border-bottom: 2px solid rgba(255,255,255,1);
  color: rgba(255,255,255,1);
}

.w-64 {
  width: 64px !important;
}

.c-white {
  color: rgba(255,255,255,1) !important;
}