textarea {
  width: 100%;
}

.newoffer{
  display:flex;
  justify-content: space-between;
  max-width: 1024px;
  margin: 32px auto;
  gap: 12px;
}

@media (max-width: 1024px) {
  .newoffer {
    margin: 32px;

  }
}

@media (max-width: 768px) {
  .newoffer {
    flex-direction: column;
    margin: 32px;
  }
}

.black{
  color:black;
}

.submitForm{
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  min-width: 256px;
}

@media (min-width: 768px) {
  .submitForm {
    min-width: 512px;
  }
}

.d-flex {
  display: flex;
}

.title-new-offer .description .category .condition .location .price-new-offer .upload {
  display: flex;
}

.summary {
  display:flex;
  flex-direction: column;
  background: rgb(246, 246, 246);
  border-radius: 8px;
  padding: 16px;
}

@media (max-width: 576px) {
  .summary {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .summary {
    max-width: 396px;
  }
}

.summary-head {
  align-items: center;
}

.p-8 {
  padding: 8px;
}

.tag {
  background-color: aquamarine;
  margin: 0 8px;
  border-radius: 8px;
}

.w-100 {
  width: 100%;
}